{
  "arrowParens": "avoid",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "quoteProps": "consistent"
}
